@background-color:#000000;
@text-color:#ffffff;
@background-image: url("../images/testnoughtsandcrosses.png");
@background-image2:url("../images/sprites.png");

body{
  background-color: @background-color;
  display: inline-block;
  color: @text-color;
}

.midRow{
  border-top:1px solid @text-color;
  border-bottom:1px solid @text-color;
}
.player1, .player2{
  background-image: @background-image;
}
.cell{
  width:180px;
  height:180px;
}
.midColumn {
   border-left:1px solid @text-color;
   border-right:1px solid @text-color;
}
table{
  vertical-align: middle;
  margin-left: 600px;
}
.player1{
  background-position: -183px;
}
.player2{
  background-position: -1px;
}
.subZero{
  height: 300px;
}
.wolverine{
  height: 300px;
  width: 250px;
}
.block{
  display: inline-block;
  width: auto;
  margin-top: 10%;
  margin-left: 30%;
}
.FMtitle{
  margin-top: 10%;
  margin-left:800px;
}
.wolverineWin{
  height:500px;
  margin-left: 80%;
}
.pre-trained, .human, .random{
  background-image: @background-image2;
}
.human{
  background-position: 0;
  width: 100px;
  height: 96px;
}

.random{
  background-position: -108px;
  width: 98px;
  height: 98px;
}

.pre-trained{
  background-position: -227px;
  width: 100px;
  height: 98px;
}
.container{
  display: inline-block;
  align-content: center;
  margin-left: 750px;
}
.player1span{
  display: inline-block;
}
.player2span{
  margin-left: 50px;
  display:inline-block;
}
input{
  margin-left: 880px;
}
