@background-color:#D4CDB1;
@text-color:#000000;
@background-image: url("../images/testnoughtsandcrosses.png");

body{
  background-color: @background-color;
  display: inline-block;
}

.midRow{
  border-top:1px solid @text-color;
  border-bottom:1px solid @text-color;
}

.player1, .player2{
  background-image: @background-image;
}
.cell{
  width:180px;
  height:180px;
  background-position: 0;
}
.midColumn {
   border-left:1px solid @text-color;
   border-right:1px solid @text-color;
}
table{
  vertical-align: middle;
  margin-left: 600px;
}
.player1{
  background-position: -183px;
}
.player2{
  background-position: -1px;
}