<!DOCTYPE html>
<html lang="en" ng-app="Tombola.setup">
<head>
    <script src="thirdparty/bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="TextContoller">
<h1>{{titleMessage}}</h1>
<h2 ng-hide="gameReady">Player 1 : {{playerOne}}</h2>
    <select ng-hide="gameReady" ng-model="playerOne">
        <option value="Human">Human</option>
        <option value="Random">Easy Computer</option>
        <option value="Pre-Trained">Overkill Computer</option>
    </select>
<h2 ng-hide="gameReady" ng-show="playerOne">Player 2 : {{playerTwo}}</h2>
<select ng-hide="gameReady" ng-model="playerTwo" ng-show="playerOne">
    <option value="Human">Human</option>
    <option value="Random">Easy Computer</option>
    <option value="Pre-Trained">Overkill Computer</option>
</select>
    <input type="button" value="Play!" ng-show="playerTwo" ng-click="startGame()">
    <div class="rules">
    <h2>Rules</h2>
    <p>The rules to Noughts and Crosses are very simple and here they are!</p>
    <ul>
        <li>Player 1 uses X's and Player 2 uses O's</li>
        <li>Each player takes turns and places a mark in any square on the board by clicking it</li>
        <li>The first player to get 3 of their marks in a row going vertically, horizontally or diagonally wins!</li>
    </ul>
    </div>
<table ng-show="gameReady">
    <tr>
        <td ng-click="makeTurn(0)"class="cell player{{gameBoard[0]}}"></td>
        <td class="cell midColumn player{{gameBoard[1]}}"ng-click="makeTurn(1)"></td>
        <td class="cell player{{gameBoard[2]}}"ng-click="makeTurn(2)"></td>
    </tr>
    <tr>
        <td class="cell midRow player{{gameBoard[3]}}"ng-click="makeTurn(3)"></td>
        <td class="midRow midColumn player{{gameBoard[4]}}"ng-click="makeTurn(4)"></td>
        <td class="cell midRow player{{gameBoard[5]}}"ng-click="makeTurn(5)"></td>
    </tr>
    <tr>
        <td class="player{{gameBoard[6]}}"ng-click="makeTurn(6)"></td>
        <td class="cell midColumn player{{gameBoard[7]}} "ng-click="makeTurn(7)"></td>
        <td class="player{{gameBoard[8]}}"ng-click="makeTurn(8)"></td>
    </tr>
</table>
</div>
</body>
</html>