<!DOCTYPE html>
<html lang="en" ng-app="Tombola.setup">
<head>
    <script src="thirdparty/bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-controller="TextContoller">
<h1>{{titleMessage}}</h1>
<h2 ng-hide="gameReady">Player 1 : {{player1}}</h2>
    <select ng-hide="gameReady" ng-model="player1">
        <option value="Human">Human</option>
        <option value="Easy Computer">Easy Computer</option>
        <option value="Overkill Computer">Overkill Computer</option>
    </select>
<h2 ng-hide="gameReady" ng-show="player1">Player 2 : {{player2}}</h2>
<select ng-hide="gameReady" ng-model="player2" ng-show="player1">
    <option value="Human">Human</option>
    <option value="Easy Computer">Easy Computer</option>
    <option value="Overkill Computer">Overkill Computer</option>
</select>
    <input type="button" value="Play!" ng-show="player2" ng-click="gameReady = true">
    <div class="rules">
    <h2>Rules</h2>
    <p>The rules to Noughts and Crosses are very simple and here they are!</p>
    <ul>
        <li>Player 1 uses X's and Player 2 uses O's</li>
        <li>Each player takes turns and places a mark in any square on the board by clicking it</li>
        <li>The first player to get 3 of their marks in a row going vertically, horizontally or diagonally wins!</li>
    </ul>
    </div>
<table ng-show="gameReady">
    <tr>
        <td class="cell"></td>
        <td class="cell midColumn"></td>
        <td class="cell"></td>
    </tr>
    <tr>
        <td class="cell midRow"></td>
        <td class="cell midRow midColumn"></td>
        <td class="cell midRow"></td>
    </tr>
    <tr>
        <td></td>
        <td class="cell midColumn"></td>
        <td></td>
    </tr>
</table>
</div>
</body>

</html>