<body>
    <h1>{{titleMessage}}</h1>
    <h2>Player 1 : {{playerOne}}</h2>
    <select ng-model="playerOne">
        <option value="human">Human</option>
        <option value="random">Easy Computer</option>
        <option value="pre-trained">Overkill Computer</option>
    </select>
    <h2>Player 2 : {{playerTwo}}</h2>
    <select ng-model="playerTwo">
        <option value="human">Human</option>
        <option value="random">Easy Computer</option>
        <option value="pre-trained">Overkill Computer</option>
    </select>
    <input type="button" value="Play!" ng-show="playerTwo" ng-click="startGame()" ui-sref="stateB">
    <div class="rules">
        <h2>Rules</h2>
        <p>The rules to Noughts and Crosses are very simple and here they are!</p>
        <ul>
            <li>Player 1 uses X's and Player 2 uses O's</li>
            <li>Each player takes turns and places a mark in any square on the board by clicking it</li>
            <li>The first player to get 3 of their marks in a row going vertically, horizontally or diagonally wins!</li>
        </ul>
    </div>
</body>
